.slideshow-container {
  position: relative;
  display: block;
  z-index: 10;
  width: 50%;
  margin: auto;
  padding: 20px;
  background-color: transparent;
  top: 2vh; /* or try removing this */
}


.slide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  color: white;
  background-color: rgb(255, 255, 255); /* Transparent black */
  border: none;
  border-radius: 0;
  padding: 20px;
  text-align: center;
  top: 1vh;
}

.slide h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 600;
  color: #000000;
}

.slide p {
  font-size: 1.2rem;
  color: #545353;
}

.get-started-button {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #ffffff;
  background-color:black; /* Yellow background */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.get-started-button:hover {
  background-color: #e5b800; /* Darker yellow */
  transform: scale(1.05);
}

.next, .prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  color: #333;
  font-size: 2rem;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 80%;
  transition: background-color 0.3s ease;
}

.next:hover, .prev:hover {
  color:#ffffff;
  background-color: rgb(72, 71, 71);
  transition:0.3s;
}

.next {
  right: -40%;
}

.prev {
  left: -40%;
}

.slick-dots li button:before {
  color: white;
  font-size: 10px;
  padding-bottom: 50px;
}

.slick-dots li.slick-active button:before {
 
  background: transparent;
}
