/* src/index.css or src/App.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
 body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .App{
    height: 70vh;
 }